<!DOCTYPE html>
<html>
<title> Resume </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="res.jpeg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
   
          </div>
        </div>
        <div class="w3-container">
            
             <p><h2>Yanish Bansal</h2></p>
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Developer</p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>patiala,Punjab</p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>ybansal_be19@thapar.edu</p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>7508187451</p>
            <hr>

            <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>


            <p>Software developer</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height: 17px;width:100%"><i>C , C++ , JS , Python ,PHP , Shell</i></div>
            </div>

            <p>Problem Solving </p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height: 17px;width:100%"><i>Grip over aLgorithms and data structres</i></div>
            </div>

            <p> Bash scripter</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height: 17px;width:100%">
                    <div class="w3-center w3-text-white"><i>linux freindly</i> </div>
                </div>
            </div>
            <p>web pentester (Hobbie)</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height: 17px;width:100%"><i>Passion!</i></div>
            </div>

            <p>Ethical Hacker (always learning)</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height: 17px;width:100%"><i>Passion!</i></div>
            </div>

            <p>AI and ML</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height: 17px;width:100%"><i>Learning</i></div>
            </div>



            <p> Web Developer </p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%"><i>Mainly in mean stack, also used others</i></div>
            </div>

            <br>

            <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
            <p>English (comfortable)</p>
            
               &#9733; &#9733; &#9733;                
 <!--
                <div class="w3-light-grey w3-round-xlarge">
                <div class="w3-round-xlarge w3-teal" style="height:23px;width:95%"></div>
                </div> 
 -->            
            <p>Hindi (native)</p>
            <!--
            <div class="w3-light-grey w3-round-xlarge">
                <div class="w3-round-xlarge w3-teal" style="height:23px;width:97%"></div>
            </div>
          </div> -->
               &#9733; &#9733; &#9733; &#9733; 
            <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Projects !!</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Front End Developer/Back end developer </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p><a href="/">My CV</a></p></p>
          <p><a href="/ColorGame">color guessing game</a></p>
          <p><a href="/pressanykey">popping circles (you need to press any key to see effect)</a></p>
          <p><a href="/SimpleTodoList">Simple To do list</a></p>
          <p><a href="/TodoList">Authorized To do list with full end database support</a></p>
          <p>There are numerous other web dev projects which are not hosted and listed in this CV !!</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Phishing (redirect to real account after login)</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i></h6>
          <p>magnum.pythonanywhere.com ------ i had disabled it as this project was only for educational purposes (but it still exists and hosted on pythonanywhere.com)!</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Hack the Box</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i></h6>
          <p>Link will be shared soon!</p><br>
        </div>
      </div>
        
    <!-- downnnnnnnnnnnnnnnnnnnnnn-->
      
        <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Collage</b> ( Computer engineering degree )</h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019-2023</h6>
          <p>Thapar University Patiala</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>NON-MED</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017 - 2019</h6>
          <p> 96% in boards and 95% percentile in JEE</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Schooling</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2013</h6>
          <p>9.4 cg in Matrix (D.A.V) </p><br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p><i>Yanish Bansal</i> <a href="https://www.w3schools.com/w3css/default.asp" target="_blank"></a></p>
</footer>

</body>
</html>