<!DOCTYPE html>
<html>
<title> Resume </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
.w3-container a {
      text-decoration: none;
      color: #009688;
    }
    /* Custom styles for hovering over links */
    .w3-container a:hover {
      text-decoration: underline;
      color: teal; /* Example: Change color on hover */
    }
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="myImage3.jpeg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
   
          </div>
        </div>
        <div class="w3-container">
            
             <p><h2>Yanish Bansal</h2></p>
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Software Developer</p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Patiala, Punjab</p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>yanishbansal56@gmail.com</p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>7508187451</p>
            <hr>

            <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>

            <!-- <p> Bash scripter</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height: 17px;width:100%">
                    <div class="w3-center w3-text-white"><i>linux freindly</i> </div>
                </div>
            </div> -->

            <!-- <p>web pentester (Hobbie)</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height: 17px;width:100%"><i>Passion!</i></div>
            </div>

            <p>Ethical Hacker (always learning)</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height: 17px;width:100%"><i>Passion!</i></div>
            </div> -->

            <!-- <p>AI and ML</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height: 17px;width:100%"><i>Learning</i></div>
            </div> -->

            <p> Front End </p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%"><i>React</i></div>
            </div>

            <p> API Development </p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%"><i>NodeJs, .Net</i></div>
            </div>

            <p>Database </p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%"><i>SQL , MondoDB</i></div>
            </div>

            <p>Messaging Queues</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%"><i>RabbitMQ</i></div>
            </div>

            <p>Cloud</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%"><i>AWS Certified Cloud Practitioner</i></div>
            </div>

            <p>Software Languages </p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height: 17px;width:100%"><i>C , C++ , JS , Python , MySql</i></div>
            </div>

            <p>Problem Solving</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height: 17px;width:100%"><i>DSA:   leetcode.com/ybansal_be19/</i></div>
            </div>

            <br>

            <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
            <p>English (proficient)</p>
            
               &#9733; &#9733; &#9733; &#9733;               
 <!--
                <div class="w3-light-grey w3-round-xlarge">
                <div class="w3-round-xlarge w3-teal" style="height:23px;width:95%"></div>
                </div> 
 -->            
            <p>Hindi (native)</p>
            <!--
            <div class="w3-light-grey w3-round-xlarge">
                <div class="w3-round-xlarge w3-teal" style="height:23px;width:97%"></div>
            </div>
          </div> -->
               &#9733; &#9733; &#9733; &#9733; 
            <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Software Developer / Incedo</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2023 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>Currently Working as a Software Developer in IncedoPay Department of Incedo.</p>
          <p>Developed and Modified over 500+ api and procedures to boost efficiency of IncedoPay by 8% through pioneering parallel payment processing in virtual commerical cards and b2b payments.</p>
          <p>Resolved many Production and Non-Production levels critical bugs and Optimised various procedures to avoid functionality affecting Deadlocks occuring at Production level.</p> 
          <p>Recieved Recognition and won multiple prizes for winning and participating in various incedo internal development hackathons and other events. Also collaborated on a end-to-end shift time allowance system with peers, successfully pitching it to our CDO and Directors .</p>
          <p>Technologies Used: React, .NET, RabbitMQ, MySql, C#, XSLT, XSD.</p>
          <hr>
        </div>
      </div>

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Projects</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"></h5>
          <!-- <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><span class="w3-tag w3-teal w3-round">Current</span></h6> -->
          <p><a href="https://yanishbansal.github.io/TicTacToe/#/menu">AI vs Human TicTacToe Game </a></p>
          
          <p><a href="/ColorGame">Color guessing game</a></p>
          <p><a href="/pressanykey">Popping circles </a>(Press keys to see effect)</p>
          <p><a href="/TodoList">Authorized Todo list with full end database support</a></p>
          <p><a href="/SimpleTodoList">Simple Todo list</a></p>

          
          <hr>
        </div>
        <div class="w3-container">
          <h6 class="w3-opacity"><b>Non hosted Projects</b></h6>
          <!-- <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i></h6> -->
          <!-- <p>Other non hosted Projects</p> -->
          <p><a href="https://github.com/yanishbansal/Maze-Finder">Maze Path Finder</a></p>
          <p><a href="https://github.com/yanishbansal/FlappyBird">Flappy Bird Game</a></p>
          <hr>
        </div>
      </div>
        
    <!-- downnnnnnnnnnnnnnnnnnnnnn-->
      
        <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>College / Thapar Institute of Engineering & Technology </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019-2023</h6>
          <p>Bachelor of Engineering in Computer Science & Engineering</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>High School</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018 - 2019</h6>
          <p> 93.3% in Boards (PCM)</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Matric</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2016 - 2017</h6>
          <p>9.4 cgpa </p><br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on 
    <a href="https://www.linkedin.com/in/yanishbansal/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity" style="color: white; margin: 6px;"></i></a>

  <p><i>Yanish Bansal</i> <a href="https://www.w3schools.com/w3css/default.asp" target="_blank"></a></p>  </p>
</footer>

</body>
</html>